node_modules/
dist/
.env
server/.env
server/node_modules/
server/metaspy.db*
clones/
teste.txt
tsconfig.tsbuildinfo
*.log
cli.txt
tokens.txt
editor.txt
update.txt
update2.txt
REDIS.txt
logs.txt
apify.txt
s.txt
depoimentos/
